* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    overflow: hidden;            
}

body {
    font-family: 'Noto Sans', sans-serif; 
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.54);  
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.chat {
    display: flex;
    width: 60%;
    height: 80%;
    background: #ffffff;
    border-radius: 3px;
}

.card-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
.card-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.card-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.card-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.card-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

.chat-dialogs {
    height: 100%;
    width: 30%;
}

.chat-messages {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 70%;           
}

.chat-menu {
    display: flex;
}

.chat-menu.dialogs {
    justify-content: center;
}

.chat-menu.messages {
    justify-content: flex-end;
}

.chat-menu.messages .chat-menu-item:nth-last-child(1) {
    margin-right: 10px;
}

.chat-menu-item {
    padding: 20px 10px;
    opacity: .7;
    transition: opacity .2s;
}

.chat-menu-item:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity .2s;
}

.chat-messages-body {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12);
    height: 80%;
    overflow-y: auto;
}

.chat-messages-body::-webkit-scrollbar {
    width: 5px;
}

.chat-messages-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.24);
}
 
.chat-messages-body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  outline: 1px solid slategrey;
}

.chat-message span {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}

.chat-message {
    padding: 15px;
    font-size: 12px;
}

.chat-messages-send {
    display: flex;
    align-items: center;
    height: 10%;
}

.chat-messages-send i {
    margin: 0 15px;
}

.chat-messages-send input {
    border: 0;
    padding: 10px 0;
    width: 90%;
}

.chat-messages-send button {
    outline: none;
    color: rgba(0, 0, 0, 0.54); 
    background: transparent;
    border: 0;
    opacity: .7;
    transition: all .2s;
}

.chat-messages-send button:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s;
}